*{margin: 0; padding: 0}
ul{list-style: none;}
a{text-decoration: none; color: #fff;}
body{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  line-height: 23px;
  color: #fff;
  background-color: #000;
}
/*header 시작*/
#header{
 height: 265px;
 width: 100%;
 top: 0;
 left: 0;
 position: absolute;
}
.header_bor{
  height: 265px;
  border-bottom: 3px solid #5a5a5a;
}
.header_inner{ /*1320px*/
  width: 1320px;
  margin: auto;
  padding-top: 58px;
  position: relative;
}
.header_inner h1{ /*logo*/
  display: block;
  text-align: center;
}
.header_icon{
  position: absolute;
  top: 85px;
  right: 11px;
  opacity: 0.7;
}
.header_icon:hover{
  transform: scale(1.2);
  opacity: 1;
}
/*메뉴*/
.nav{
  width: 1320px;
}
.nav li a{
  display: block;
  width: 25%;
  float: left;
  text-align: center;
  margin-top: 50px;
  padding: 20px 0px;
  font-weight: 500;
}
.nav li a:hover{
  color: #e6a725;
}
/*icon_top 버튼 시작*/
.icon_top{position:fixed; bottom:50px; right:50px; display:none;}
.icon_top:hover{
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.2);
  border-radius: 50%;
}
/*icon_top 버튼 끝*/
/*nav 끝*/

/*content*/
#content{
  margin-top: 265px;
  height: 880px;
  background: url(../images/bg.png) no-repeat center top;
}
.content_inner{
  width: 1320px;
  margin: auto;
}

/*tab 시작*/
.tab{
  padding-top: 50px;
}
.tab_nav{
  display: block;
  width: 1320px;
  height: 37px;
  margin-bottom: 98px;
  font-size: 18px;
}
.tab_nav li{
  float: left;
  margin-right: 30px;
}
.tab_nav li a{
  display: block;
  padding: 9px 44px 9px 22px;
  border: #a1a1a1 2px solid;
  border-radius: 7px;
  opacity: 0.7;
  background: url(../images/icon_\ left.png) no-repeat 85% 50%;
}
.tab_nav li a:hover{
  border: #fbcd06 2px solid;
  color: #fbcd06;
  opacity: 1;
  background: url(../images/icon_\ left_Y.png) no-repeat 85% 50%;
}

.tab_nav li a.active{
  border: #fbcd06 2px solid;
  box-shadow: 2px 2px 5px #e6a725, -2px -2px 5px #e6a725,2px 2px 5px #e6a725 inset, -2px -2px 5px #e6a725 inset;
  color: #fbcd06;
  opacity: 1;
  background: url(../images/icon_\ left_Y.png) no-repeat 85% 50%;
}
/*tab 끝*/
/*tab_content*/
.tab_content ul li h4{
  padding: 20px 0 20px 79px;
  font-size: 18px;
  float: left;
}
.tab_content ul li h5{
  padding: 20px 133px 20px 0;
  font-size: 14px;
  float: right;
  background: url(../images/icon_\ left_c.png) no-repeat 80% 50%;
}
.tab_content ul li a{
  height: 61px;
  border-top: 2px solid #525555 ;
  display:  block;
}
.tab_content ul li a:hover{
  color: #fbcd06;
  background: url(../images/icon_check.png) no-repeat 1% 45%;
}
.tab_content ul li a:hover h5{
  background: url(../images/icon_bottom.png) no-repeat 81% 50%;
}
.tab_content ul .bor_b{
  border-bottom: 2px solid #525555;
}
#box1{
  width: 1320px;
  margin: auto;
  text-align: center;
  font-size: 22px;
}
.box1_inner li{
  float: left;
}
.box1_inner{
  display: inline-block;
  padding-top: 55px;
}
.box1_inner a{
  color: #9f9f9f;
  padding: 5px 10px;
  margin: 0px 15px;
}
.box1_inner a:hover{
  color: #fff;
  text-decoration: underline;
}

/*footer*/
.footer_bor{
  border-top: 3px solid #5a5a5a;
}
#footer{
  width: 1320px;
  height: 317px;
  margin: auto;
  position: relative;

}
.footer_left{
  float: left;
  margin-left: 384px;
  margin-top: 114px;
}
.footer_left li{
  margin-right: 40px;
  float: left;
}
.footer_right{
  float: right;
  margin-top: 114px;
}
.footer_right li{
  float: left;
  margin-left: 15px;
}
#footer p{
  margin-left: 384px;
  clear: both;
  padding-top: 20px;
  line-height: 40px;
  font-size: 18px;
  opacity: 0.7;
}
#footer .footer_logo{
  position: absolute;
  top: 124px;
  left: 46px;
  opacity: 1;
}
#footer .footer_left a, .footer_right a{
  opacity: 0.7;
}
#footer a:hover{
  opacity: 1;
}
/*footer 끝*/